.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    z-index: 2000;
  }
  
  .navbar-logo img {
    height: 40px; 
    
    margin-left: 40px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    
  }

  .navbar-links a:hover{
    color: coral;
  }
  
  

  

